.profile {
  max-width: 480px;
  max-height: 1000px;
  margin: auto;
  padding: 80px;
  background-color: rgb(224, 224, 224);
  text-align: center;
  border-radius: 15px;
  text-align: center;
  width: 480px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
.description {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  padding: 30px;
  background-color: rgb(199, 199, 199);
  border-radius: 15px;
  height: 70%;
  width: 70%;
  box-shadow: 4px 4px 4px rgba(30, 30, 30, 0.25);
}
.name {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: bold;
}
.tag {
  font-size: 30px;
  margin-bottom: 15px;
}
.location {
  font-size: 30px;
  margin-bottom: 15px;
}
.avatar {
  border-radius: 50%;
  background-color: rgb(245, 245, 245);
  width: 60%;
  margin-bottom: 80px;
  margin-top: 40px;
}
.stats {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 30px;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  border-top: 1px solid gray;
  padding-left: 20px;
  padding-right: 20px;
}
.item {
  display: flex;
  flex-direction: column;
}
.label {
  margin-bottom: 10px;
  font-size: 25px;
}
.quantity {
  font-size: 25px;
  font-weight: bold;
}
