/* * npm install --save normalize.css bring in normalize.css styles */

body {
  margin: auto;
  color: rgb(96, 96, 96);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  margin: 0;
  padding: 0;
}
p,
h2 {
  margin: 0 auto;
}
li {
  margin: 0;
  padding: 0;
}